.bar {
  width: 500px;
  height: 30px;
  background-color: #333;
  position: relative;
  .rating {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: (4/7) * 100%;
    height: 100%;
    background-color: hsl(171, 100%, 41%);
  }
}
